version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
      day: "saturday"
      time: "03:00"
      timezone: "Europe/Amsterdam"
    groups:
      github-actions:
        patterns:
          - "*"
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
      day: "saturday"
      time: "03:00"
      timezone: "Europe/Amsterdam"
    groups:
      npm-dependencies:
        patterns:
          - "*"
