:root {
    --color-base00: #FFFFFF;
    --color-base07: #202020;
    --color-base0D: #3777E6;
    --color-base0E: #AD00A1;

    --theme-background: var(--color-base00);
    --theme-link-directory: var(--color-base0D);
    --theme-link-file: var(--color-base07);
    --theme-link-highlight: var(--color-base0E);
    --theme-link-hover: var(--color-base0E);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-base00: #2D2D2D;
        --color-base07: #F2F0EC;
        --color-base0D: #6699CC;
        --color-base0E: #CC99CC;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 3.5rem;
}

html {
    background-color: var(--theme-background);
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    font-size: 100%;
}

.asset {
    &-list {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &-item {
        display: block;

        &--directory {
            color: var(--theme-link-directory);
        }

        &--file {
            color: var(--theme-link-file);
        }

        &--directory + &--file {
            margin-top: 1rem;
        }
    }

    &-link {
        display: block;
        line-height: 1.7;
        opacity: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: color 100ms, opacity 100ms;
        white-space: nowrap;

        &:any-link {
            color: inherit;
            text-decoration: none;
        }

        &:focus,
        &:hover {
            color: var(--theme-link-hover);
        }

        &:focus {
            outline: none;
        }
    }

    &-mark {
        position: relative;
        background-color: transparent;
        color: var(--theme-link-highlight);
        display: inline-block;

        &::before {
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;
            background-color: var(--theme-link-highlight);
            border-radius: 1px;
            content: '';
            transform: translateY(-50%) translateY(0.5em);
            width: auto;
            height: 2px;
        }
    }

    &-item--filtered > &-link {
        opacity: 0.4;

        &:focus,
        &:hover {
            opacity: 1;
        }
    }
}
