name: CI

on:
  - pull_request

env:
  ENVIRONMENT: production

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: package.json
      - run: make ci
